*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mentor a{
    text-decoration: none;
    color: green;
    text-shadow: 20px;
    text-transform: uppercase;
    font-size: larger;
    float: left;
}
.navright{
    display: none;
    position: absolute;
    position: fixed;
    flex-direction: column;
    width: 150px;
    top: 45px;
    background-color: white;
    line-height: 35px;
    height: auto;
}
.slide{
    display: none;
    justify-content: space-between;
}
.slide h1{
    color: #5fcf80;
}
.navright li{ 
    list-style: none;
}
.navright li a{ 
    color: black;
    list-style: none;
    text-decoration: none;
}
.navul li a{ 
    color: black;
    list-style: none;
    text-decoration: none;
}
.navul li a:hover{ 
    color: #5fcf80;
}
nav{
    height: 60px;
    z-index: 999;
    text-align: center;
    position: fixed;
    background-color: white;
    width: 100%;
}
nav ul{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    text-decoration: none;
}
.navul li {
    padding-top: 10px;
    text-decoration: none;
}
.head1{
    background-image: url(https://i.ibb.co/5MspXsP/hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    line-height: normal;
    height: 440px;
    padding-left: 190px;
    padding-top: 70px; 
    color: white;
}
.learn{
    font-size: 60px;
}
.getstarted{
    border: 1px solid black;
    padding: 4px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    width: 30px;
}
.getstarted:hover{
    cursor: pointer;
    background-color: rgb(161, 188, 161);
}
.aboutimg{
    display: flex;
    height: 320px;
    width: 400px;
}
.head2{
    display: flex;
    margin: 50px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
}
.text{
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    justify-content: center;
    text-align: justify;
    color: rgb(54, 44, 44);
}
.numbers{
    display: flex;
    background-color: rgb(221, 220, 220);
    justify-content: space-evenly;
    width: 100%; 
    padding: 10px;

}
.numbers h1{
    color: rgb(90, 189, 90);
}
.head3{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 55px;
}
.greenbox{
    background-color: rgb(122, 247, 122);
    width: 320px;
    max-height: auto;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
    color: white;  
}
.rightbox{
    text-align: left;
    justify-items: center;
    align-content: center;
    width: 150px;
    line-height: 20px;
    border: 1px solid white;
    height: auto;
}
.rightbox h3{
font-size: 20px;
}
.learnmore{
    border: 1px solid rgb(70, 144, 70);
    border-radius: 10px;
    background-color: rgb(120, 117, 117);
    padding: 4px;
    color: black;
    margin: 50px;
    text-decoration: none;
}
.emoji{
    font-size: 25px;
}
.box{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin: 50px;
    gap: 100px;
}
.boxs p{
    border: 1px solid grey;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 50px;
}
.boxs p:hover{
    border: 1px solid rgb(40, 194, 40);
}
.COURSES{
    padding-left: 120px;
}
.course-1{
    width: 340px;
    height: 250px;
}
.Trainers{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.doll{
    display: flex;
    justify-content: space-between;
}
.Course{
    width: 340px;
    height: auto;
    line-height: 40px;
    border: 1px solid rgb(245, 232, 232);
    margin: 17px;
}
.imgp{
    text-align: justify;
    line-height: normal;
}
.down{
    display: flex;
    justify-content: space-around;
}
.profile{
    padding-right: 150px;
}
.Coursehead{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: auto;
    margin: 10px;
}
.greentitle{
    background-color: rgb(69, 134, 69);
    border: 1px solid grey;
    width: 140px;
    text-align: center;
    color:white;
}
.Coursehead a{
    text-decoration: none;
}
.Coursetext{
    color: black;
}
.Coursetext h2{
    font-size: medium;
}
.Coursetext:hover{
    color: green;
}
.trainer-1{
    width: 340px;
    height: 374px;
}
.trainerhead{
    text-align: center;
    border: 1px solid rgb(205, 205, 205);
    max-height: auto;
    width: 340px;
    margin: 17px;
}
.th{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trainerhead p{
    color: grey;
}
.social a{
    color: black;
    padding: 5px;
}
.social a:hover{
    color: green;
}
.address{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 30px;
    line-height: 20px;
    max-width: auto;
    max-height: auto;
}
.address p{
    color: grey;
}
.address a{
    text-decoration: none;
}
.address a p:hover{
    color: #5fcf80;
}
.arrow a{
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    right: 30px;
    bottom: 80px;
    background-color: #5fcf80;
    color: white;
    position: absolute;
    position: fixed;

}
.downbar{
    display: flex;
    height: 100%;
    justify-content: space-between;
    background-color: rgb(232, 226, 226);
    padding-top: 25px;
    padding: 20px;
}
.skype a{
    border-radius: 20px;
    padding: 12px;
    background-color: #5fcf80;
    color: black;
}
.skype a:hover{
    color: #d9d9d9;
}
@media (max-width:1000px){
    .navul li{
        display: none;
    }
    nav{
        height: 50px;
    }
    .head1{
        padding-left: 0;
        padding-right: 0;
    }
    .aboutimg img{
        display: none;
    }
    .head2{
        display: block;
        justify-content: center;
    }
    .rightbox{
        justify-self: center;
    }
    .greenbox{
        justify-content: center;
    }
    .head3{
        justify-content: center;
        display: block;
    }
    .numbers{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .address{
        display: block;
    }
    .downbar{
        display: block;
    }
    .boxs p{
        justify-content: center;
        margin: 20px;
        height: auto;
    }
    .box{
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        gap: 0;
    }
    .COURSES{
        padding-left: 0;
    }
    .slide{
        display: flex;
        justify-content: space-between;
    }

}